*{
    font-family: sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
body{
    background: rgb(67,200,242);
    background: radial-gradient(circle, rgba(67,200,242,0.8127626050420168) 4%, rgba(25,234,138,0.23573179271708689) 64%, rgba(0,255,76,0.07886904761904767) 100%);
}
marquee{
    width: 100vw;
}

.arrow{
    font-size: 50px;
    position:fixed;
    left:60px;
}
h1{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(41, 5, 58);
    margin: 50px;

}
.content{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    
}
.content img{
    width: 200px;
    height: 200px;
}
.container h1{
   margin-bottom: 40px;
}
.container{
    width: 90vw;
    margin: auto;
    margin-left: 150px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 35px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    padding: 3px;
    background-color: rgb(3, 231, 60);
    object-position: center;
    margin-right: 30px;
}


div{
    display: flex;
    align-items: center;
    flex-direction: row;
}
/* faculty 1 */
.faculty1{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}
/* faculty 2 */
.faculty2{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 3 */
.faculty3{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 4 */
.faculty4{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 5 */
.faculty5{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 1 */
.faculty6{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 1 */
.faculty7{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 1 */
.faculty8{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}
/* faculty 1 */
.faculty9{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-bottom: 30px;
    justify-content: space-between;
}

.footer{
    text-align: center;
    height: 150px;
    width: 100vw;
    position: relative;
    bottom: 0;
    color: #686363;

  }
  .footer p{
 
     position: absolute;
     bottom: 0;
     left: 80vh;
     
  }